:root {
  --primary-color: #225;
  --secondary-color: #22d;
}

body {
  background-color: #eee;
  overflow-x: hidden;
}

/* navbar */
.navbar {
  width: 100%;
  height: 70px;
  background: linear-gradient(to top, var(--primary-color), var(--secondary-color));
  border-radius: 1%;
  position: fixed;
  display: flex;
  top: 0;
  z-index: 2;
}

.navbar-nav {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 0 10px;
  flex-grow: 1;
}

.navbar-ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.navbar-li {
  display: flex;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
  transition: transform 0.2s, color 0.2s, font-size 0.2s; 
  color: white; 
}  

.navbar-li:hover {
  color: cyan; 
  border-bottom: 2px solid cyan;
  border-radius: 20%;
  transform: scale(0.9);
}

.navbar-li-selected {
  padding-bottom: 8px;
  text-decoration: none;
  border-bottom: 4px solid white;
  border-radius: 20%;
  color: white; 
  font-size: 30px; 
  font-weight: 1000;
  transition: transform 0.2s, color 0.2s, font-size 0.2s; 
}

.navbar-li-selected:hover {
  color: cyan; 
  border-bottom: 4px solid cyan;
  transform: scale(0.9);
}

@media (max-width: 768px) {
  .navbar-ul {
    flex-direction: column;
    gap: 20px;
  }

  .navbar-nav {
    justify-content: center; 
  }
}

.sectionRadar {
  display: flex;
}

.sidemenu {
  background: linear-gradient(to top, var(--primary-color), var(--secondary-color));
  color: white; 
  width: 200px;
  height: calc(100vh - 70px);
  padding: 10px;
  position: fixed;
  display: flex;
  left: 0;
  top: 70px;
  z-index: 1;
  overflow-y: auto;
  transition: transform 0.3s ease, opacity 0.3s ease; 
  opacity: 0; 
  transform: translateX(-100%); 
}

.sidemenu.visible {
    opacity: 1;
    transform: translateX(0); 
}

.sidemenu.hidden {
    opacity: 0; 
    transform: translateX(-100%); 
}

.sidemenu ul {
  list-style-type: none;
  padding: 0;
}

.sidemenu li {
  padding: 10px;
  cursor: pointer;
}

.sidemenu li:hover {
  background-color: #555; 
}


.searchBar {
  position: absolute;
  width: 100%;
  height: 35px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo para ocultar el label visualmente, pero mantenerlo accesible */
.search-label-visually-hidden {
  position: absolute; /* Saca el label del flujo del documento */
  width: 1px; /* Ancho mínimo */
  height: 1px; /* Altura mínima */
  margin: -1px; /* Margen negativo para ocultar */
  padding: 0; /* Sin padding */
  overflow: hidden; /* Oculta el contenido */
  clip: rect(0, 0, 0, 0); /* Recorta el contenido */
  border: 0; /* Sin borde */
}

.searchBar input {
  width: 150px;
  height: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding: 5px;
  background-color: #eee;
}

.searchBar .lupa {
  width: 35px;
  height: 25px;
  padding: 5px;
  background-color: #22d;
  cursor: pointer;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  margin-top: 70px;
}

.home {
  color: #333;
  margin-bottom: 200px;
  padding: 0 20px;
  margin: 0 auto;
}

.home-footer {
  height: 200px; 
  width: 100%; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  background: linear-gradient(to top, var(--primary-color), var(--secondary-color));
  color: white; 
  z-index: 2;
  position: relative; 
  bottom: 0; 
  font-size: 28px; 
  font-weight: 600;
  margin-top: 20px;
}

.options {
  color: #333;
}

/* .scienseQLeyend {
  width: 250px;
  height: 400px;
  background-color: #eee;
  position: absolute;
  bottom: 100px;
  left: 300px;
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 100px 100px;
  justify-content: center;
  row-gap: 80px;
  z-index: 20;
} */

/* .scienseQLeyendInfo {
  color: #333;
} */
