@tailwind base;
@tailwind components;
@tailwind utilities;
/* hay que secuenciar el tabIndex */
:root {
  --primary-color: #3B82F6;
  --secondary-color: #8B5CF6;
}

.modal-overlay {
  position: fixed;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 10;  
  animation: show-overlay 0.5s ease-in-out;
}

@keyframes show-overlay {
  0% {
    opacity: 0;
    top: -100%;
  }
  100% {
    opacity: 1;
    top: 8%;
  }
}

.modal-container {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(2, 1fr); 
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 80%;
  top: 8.4%;
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  z-index: 2;
  transition: transform 0.2s ease-in-out;
  animation: show-modal 0.5s ease forwards;
}

@keyframes show-modal {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.modal-container.hidden {
  animation: hide-modal 0.5s ease forwards;
}

@keyframes hide-modal {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.service-menu-cell {
  display: flex;
  flex-direction: column;
}

.service-cell-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar-service-menu-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0px;
}

.navbar-service-menu-li {
  list-style-type: none;
  
  transition: transform 0.2s ease-in-out;
}

.navbar-service-menu-li:hover {
  transform: scale(1.1);
}

.navbar-service-menu-navlink {
text-decoration: none;
  color: #eee;
  font-size: 26px;
  text-align: right;
  cursor: pointer;
  border-radius: 12px;
  padding: 0 8px;
}

.navbar-service-menu-navlink:hover {

  border-bottom: 4px solid #eee;
}

.service-card-icon {
  transform: scale(2);
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(120%) contrast(100%);
}

@media (max-width: 768px) {
  .navbar-ul {
    flex-direction: column;
    gap: 20px;
  }

  .navbar-nav {
    justify-content: center; 
  }
}

.sectionRadar {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-left: 32vw;
}

#radar {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.sidemenu {
  background: linear-gradient(to top, var(--primary-color), var(--secondary-color));
  margin-top: 45px;
  border-right: 4px solid #333;
  color: white; 
  width: 15%;
  height: calc(100vh - 70px);
  padding: 10px;
  position: fixed;
  display: flex;
  justify-content: center;
  left: 0;
  top: 70px;
  z-index: 1;
  overflow-y: auto;
  transition: transform 0.3s ease, opacity 0.3s ease; 
  opacity: 0; 
  transform: translateX(-100%); 
}

.sidemenu.visible {
    opacity: 1;
    transform: translateX(0); 
}

.sidemenu.hidden {
    opacity: 0; 
    transform: translateX(-100%); 
}

.sidemenu ul {
  list-style-type: none;
  padding: 0;
}

.sidemenu li {
  padding: 20px;
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s, color 0.2s, font-size 0.2s; 
}

.sidemenu li:hover {
  border-radius: 15%;
  border-bottom: 4px solid cyan;
  transform: scale(1.1);
  color: cyan;
  background-color: rgb(30, 0, 67); 
  box-shadow: 0 0 18px 15px rgb(35, 2, 117);
}


.searchBar {
  position: absolute;
  width: 100%;
  height: 35px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo para ocultar el label visualmente, pero mantenerlo accesible */
.search-label-visually-hidden {
  position: absolute; /* Saca el label del flujo del documento */
  width: 1px; /* Ancho mínimo */
  height: 1px; /* Altura mínima */
  margin: -1px; /* Margen negativo para ocultar */
  padding: 0; /* Sin padding */
  overflow: hidden; /* Oculta el contenido */
  clip: rect(0, 0, 0, 0); /* Recorta el contenido */
  border: 0; /* Sin borde */
}

.searchBar input {
  width: 150px;
  height: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding: 5px;
  background-color: #eee;
}

.searchBar .lupa {
  width: 35px;
  height: 25px;
  padding: 5px;
  background-color: #22d;
  cursor: pointer;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  background-color: #eee;
}

.outlet {
  width: 100%;
}

.home {
  color: #333;
  margin-bottom: 200px;
  padding: 0 20px;
  margin: 0 auto;
}

.home-title {
  text-align: center;
  font-weight: 900;
  font-size: 100px;
  color: white;
  margin-top: 350px;
  text-shadow: 15px 0px 10px rgba(0, 0, 0, 1);
  line-height: 175px;
}

.vigitech {
  color: white;
  margin-left: 10px;
  padding: 0 20px;
  border: 5px solid rgb(0, 4, 23);
  border-radius: 20px;
  background: linear-gradient(to right, #3B82F6, #8B5CF6);
  text-shadow: none;
  box-shadow: 20px 20px 6px rgba(0, 0, 0, 0.6);
  display: inline-block;
  transition: all 0.2s ease-in-out;
  animation: aparicion-vigitech 1.5s ease-in-out;
}

@keyframes aparicion-vigitech {
  from {
        opacity: 0;
        transform: scale(0.1);
    }
    to {
        opacity: 1; 
        transform: scale(1.0);
    }
}

.vigitech:hover {
  transform: scale(1.1);
}

.home-img-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(to right, rgba(59, 130, 246, 0.5), rgba(139, 92, 246, 0.5)), url(/home_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin-top: 80px;
  object-position: top;
  z-index: 0;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
}

.social-container:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.social-logo-container:hover .img_social_logo {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.social-logo-container {
  width: 64px;
  height: 64px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  transition-duration: .3s;
}

.social-container {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

.options {
  color: #333;
}

/* .scienseQLeyend {
  width: 250px;
  height: 400px;
  background-color: #eee;
  position: absolute;
  bottom: 100px;
  left: 300px;
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 100px 100px;
  justify-content: center;
  row-gap: 80px;
  z-index: 20;
} */

/* .scienseQLeyendInfo {
  color: #333;
} */

.section-gradient {
    background: linear-gradient(to right, #3B82F6, #8B5CF6);
    color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    border-radius: 50px;
    margin-top: 1300px;
}

.section-gradient-rotating {
    opacity: 1;
    animation: rotacion-section-gradient 1.2s ease-in-out;
}

@keyframes rotacion-section-gradient {
  from {
        opacity: 0;
        transform: rotateY(270deg);
    }
    to {
        opacity: 1; 
        transform: rotateY(360deg);
    }
}

.section-title {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 3rem;
}

.section-description {
    font-size: 40px;
    margin-bottom: 2rem;
    max-width: 100%;
}

.cta-button {
    background-color: white;
    color: #003385; /* Color azul */
    font-weight: bold; /* Negrita */
    font-size: 30px;
    padding: 0.5rem 1rem; /* Espaciado interno */
    border-radius: 9999px; /* Bordes redondeados */
    border: 3px solid rgb(124, 0, 196);
    cursor: pointer; /* Cambiar cursor */
    padding: 25px 40px;
    transition: transform 0.2s, color 0.2s, font-size 0.2s; 
    
}

.cta-button:hover {
    /*background-color: #613bba; /* Color gris claro al pasar el mouse */
    box-shadow: 0 0 15px 10px #5825d0;
    transform: scale(1.1);
}

.section {
    padding: 5rem 0; /* Espaciado vertical */
    text-align: center; /* Centrar texto */
}

.flex-container {
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
    justify-content: center; /* Centrar elementos */
    gap: 60px;
}

.card {
    width: 100%; /* Ancho completo en móviles */
    max-width: 300px; /* Ancho máximo */
    margin: 1rem; /* Espaciado entre tarjetas */
    background: white; /* Fondo blanco */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    border-radius: 0.5rem; /* Bordes redondeados */
    padding: 1.5rem; /* Espaciado interno */
    text-align: left; /* Alinear texto a la izquierda */
    box-shadow: 5px 10px 15px #224e95;
    transition: transform 0.2s ease-in-out ; 
}

.card:hover {
  transform: scale(1.2);
}

.card-image {
    border-radius: 1em; /* Bordes redondeados */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    margin-bottom: 1rem; /* Espaciado inferior */
}

.card-title {
    font-size: 1.5rem; /* Tamaño de fuente 2xl */
    font-weight: bold; /* Negrita */
    margin-bottom: 0.5rem; /* Espaciado inferior */
}

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 400px;
  perspective: 1000px;
  font-family: sans-serif;
}

.flip-card

.title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  max-width: 300px;
  position: relative;
  top: 0;
  left: 60px;
  line-height: 50px;
  text-align: left;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.flip-card-front {
  border: 2px solid #8B5CF6;
}

.flip-card-back {
  border: 1px solid #1E3A8A;
  
}

.flip-card-front {
  background: linear-gradient(120deg, rgba(139, 92, 246, 1) 60%, rgba(180, 130, 255, 0.8) 88%, rgba(220, 180, 255, 0.6) 40%, rgba(150, 100, 220, 0.4) 48%);
  color: white; /* Color de texto en un tono púrpura */
}

.flip-card-back {
  background: linear-gradient(120deg, rgba(255, 255, 255, 1) 60%, rgba(240, 240, 240, 0.8) 88%, rgba(200, 200, 200, 0.6) 40%, rgba(150, 150, 150, 0.4) 48%);
  color: black; /* Un tono azul oscuro para el texto */
  transform: rotateY(180deg);
}

@media (max-width:768px) {
  .home-title {
    margin-top: 80px;
    font-size: 80px;
  }
  .section-gradient {
    margin-top: 1200px;
    font-size: 16px;
}
}
/*loadig*/

.dot {
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.5s;
}

.dot:nth-child(2) {
  animation-delay: -0.4s;
}

.dot:nth-child(3) {
  animation-delay: -0.3s;
}

.dot:nth-child(4) {
  animation-delay: -0.2s;
}

.dot:nth-child(5) {
  animation-delay: -0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #6793fb;
    box-shadow: 0 0 0 10px rgba(40, 104, 176, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}